<div class="container">
  <h1>Signal Flow Graph Solver</h1>
  <div class="container2">
    <div class="box" [routerLink]="['routh']">
      <img src="assets\table-svgrepo-com.svg" alt="graph" width="100px" height="100px">
      <button class="btn">Routh Hurwitz Solver</button>
    </div>
    <div class="box" [routerLink]="['graph']">
      <img src="assets\graph-analytics-business-3-svgrepo-com.svg" alt="graph" width="100px" height="100px">
      <button class="btn">Signal Flow Visualizer</button>
    </div>
  </div>
</div>
